body {
  font-family: 'Helvetica', Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.country-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f3f3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 50px auto;
}

.flag img {
  max-width: 100%;
  height: auto;
}

.country-info-details {
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

.country-info-details p {
  margin: 0;
  font-size: 14px;
  padding: 10px;
  background-color: #edebeb;
  border-radius: 5px;
}

.country-info-details p:nth-child(even) {
  font-weight: bold;
}

h1 {
  font-size: 24px;
  margin: 0;
  padding-bottom: 10px;
  color: #333;
}
